.App {
  text-align: center;
}

.tablas{
  display: flex;
  justify-content: center;
}

.tablaArticulos{
  text-align: justify;
  display: inline-block;
  width: 50vw;
  flex-direction: row-reverse;
  padding-left: 30px;
  padding-right: 30px;

}

.carrito{
  text-align: justify;
  display: inline-block;
  width: 50vw;
  flex-direction: row-reverse;
  padding-right: 30px;
  padding-left: 30px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}